{% extends '_layouts/components' %}

{% set type = type ?? 'featured' %}
{% set classContainer = 'py-5' %}

{% set title = _block.itemTitle ?? '' %}
{% set description = _block.description ?? '' %}

{% set entries =
  craft.entryCount.entries().section('ResourceEntries').limit(8).all()
%}

{% block cpContent %}
  <h2 class="title-2 my-1 text-center pt-4">{{ title }}</h2>
  <p class="global-text mt-0 col-lg-6 mx-auto text-center">
    {{ description }}
  </p>

  <div class="py-4 row gx-3 gy-4">
    {% for item in entries %}
      <div class="col-12 col-ms-6 col-md-4 col-lg-3">
        {% include 'partials/featuredCard/' with {
          sheet: item
        } %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
