{% extends '_layouts/components' %}

{% set type = 'footer' %}

{% block customCp %}
  <footer class="footer py-3">
    <div class="container">
      <p class="footer__end text-white text-center my-1">
        Copyright © 2025 | Desarrollado por <a href="https://lalonso.dev/es/" rel="nofollow" target="_blank">lalonso.dev</a>
      </p>
    </div>
  </footer>
{% endblock %}
