.footer {
  background-color: #222;
  &__body {
    background-color: var(--white2);
  }
  &__end {
    background-color: var(--dark);
    a {
      --color: var(--white);
      color: var(--color);
      &:hover {
        --color: #dc3545;
      }
    }
  }
}
