:root {
  --color-item-breadcrumb: var(--gray-1);
}

.c-breadcrumb {
  &__link,
  &__item {
    text-decoration: none;
    text-transform: uppercase;
    line-height: normal;
    color: var(--color-item-breadcrumb);
    transition: all ease 0.3s;
    font-weight: 500 !important;
  }
  &__item.active,
  &__link:hover {
    --color-item-breadcrumb: var(--dark);
  }
}
