:root {
  --dark: #1d1d1b;
  --white: #ffffff;
  --white2: #f5f5f5;
  --grape-purple: #651d32;
  --gray-1: #767a7b;
  --bg-card-1: hsla(353.33333333333337, 100%, 98.24%, 1);
  --bg-card-2: hsla(189.2307692307693, 37.14%, 93.14%, 1);
  --bg-card-3: hsla(32.00000000000005, 65.22%, 95.49%, 1);
  --bg-card-4: hsla(274.2857142857143, 100%, 97.25%, 1);
  --bg-card-5: hsla(0, 15.77%, 86.24%, 1);
  --bs-white-rgb: 255, 255, 255;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-color: #dee2e6;
}
