.header {
  //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  &__b {
    min-height: 50px;
    .img-logo {
      max-width: 100%;
      @media (max-width: 1199.98px) {
        width: 150px;
      }
    }
  }
}
