.aboutUs {
  &__banner {
    min-height: 300px;
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #f5f5f5, $alpha: 0.9);
      z-index: -1;
    }
    .img-absolute {
      z-index: -2;
    }
  }
}
